.logo{
    width: 100%;
    align-items: center;
    align-content: stretch;
}
.si{
    width: 820px;
    text-align: justify;
}

    .N1{
        width: 200px;
        text-align:justify;
    

    }


.navbar{
    width: 1000;
    word-spacing: 20px;
}   